<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fuel Exchange</title>
    <link rel="stylesheet" th:href="@{/styles/Style.css}">
</head>
<body>
<header>
    <div class="header-container">
        <img src="/images/50de99b76f0ea3922972c82a12ef4901.png" alt="The fuel Exchange" class="banner-logo">
    </div>

</header>
<main>
    <section class="intro">
        <h1> Our Mission</h1>
        <p>With over 25 years of experience in oil and gas The Fuel Exchange<br>
            is dedicated to facilitating the selling and buying of large<br>
            quantities of fuels. Our Services: </p>
    </section>
    <div class="homepage-text-box">
        <div class="text-box">
            <h2>Buying and Selling</h2>
            <p>When using our platform users will be<br>
                welcomed with a dashboard that allows<br>
                users to post listings and update account<br>
                information. Once a listing is posted the<br>
                listing is shown to those interested<br>
                in buying or selling a specific type of fuel.</p>
        </div>

        <div class="text-box">
            <h2>Trust</h2>
            <p> The largest issue when dealing in large fuel<br>
                transactions is trust. Far too many times there<br>
                are too many people in the middle, that causes<br>
                miscommunications and cause deals to fall<br>
                through. The fuel Exchange eliminates the<br>
                need for middle men.</p>
        </div>

        <div class="text-box">
            <h2>Transactions</h2>
            <p>The Fuel Exchange facilitates every step<br>
                of the transactions. When using our<br>
                platform buyers and sellers must abide<br>
                by our procedures. When a transaction<br>
                is in progress we verify all shipment<br>
                loads and handle all the payments.</p>
        </div>
    </div>
    <a href="/users/register/seller" class="signup-btn">Seller Signup</a>
    <a href="/users/register/buyer" class="signup-btn">Buyer Signup</a>
    <a href="/users/login" class="home-top-right-button">Login</a>
</main>
</body>
</html>