* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.dashboard-container {
    display: flex;
    height: 100vh;
}
.sidebar {
    background-color: #137DC5;
    color: white;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
}
.sidebar footer{
    margin-bottom: 20px;
    color: #ffffff;
}
.sidebar h1 {
    font-size: 22px;
    margin-bottom: 20px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 500;
    padding: 10px;
    display: block;
}
.sidebar a:hover {
    background-color: #C5137D;
}

.main-content {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
}

h1, h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#fuel-list div {
    margin-bottom: 5px;
}